*
	padding: 0
	margin: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
body
	width: 100%
	background-color: #fafafa
	font-family: 'Roboto', sans-serif 
	font-size: 14px
	margin: 0
	
h1
	font-size: 18px

label 
	display: block