
.contenido
	min-height: 500px
	margin: 40px 10% 10px
	border-left: 1px solid #E0E0E0
	border-right: 1px solid #E0E0E0
	background-color: #fff

.contenedor-inicio	
	min-height: 600px
	margin-top: 40px
	background-image: url('../img/serviciosInformaticos.jpg')
	background-repeat: no-repeat
	background-size: cover


#submenu-registro, #submenu-servicio, #submenu-reserva,#submenu-informacion 

	display: none

.list-head
	color: #fff
	background-color: #00695C

.list
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	padding: 20px


.list div
	flex-basis: 20%

.detail
	display: flex
	div
		padding: 10px
.img 	

	display: inline-block
.icon
	height: 200px
	width: 150px	
.data
	display: inline-block	

.error
	background-color: #F44336
	padding: 10px	
	color: #fff
	
.success
	background-color: #00E676
	padding: 10px
	color: #fff	
.more-info
	margin: 5px
	padding: 5px
	width: 250px
	background-color: #00E676
	color: #fff
