.formulario, .form-login 
	padding: 50px 0
	fieldset 
		width: 50%
		margin: 0px auto
		padding: 10px
		legend
			color: #2fa0a0		
		div
			display: flex
			flex-wrap: wrap
			margin: 20px 0
			label
				flex-basis: 40%
			input 
				flex-basis: 40%
			textarea
				flex-basis: 40%	
.form-login	
	fieldset
		margin: 10px auto
		div			
			label
				color: #fff
			input
				color: #fff
				background-color: rgba(50,50,50,0.6)

.submit
	background-color: $verde1
	color: $white
	padding: 5px
