
header
	
	nav 
		background-color: $verde1
		padding: 1px
		margin-bottom: 10px		
		ul
			overflow: hidden	
			li
				float: left			
				list-style: none
				width: 140px
				a	
					display: block
					padding: 10px
					text-decoration: none 
					font-size: $font-size-links
					color: $white	
					&:hover
						background: #009688
				ul
					display: none
					position: absolute
					min-width: 140px
					background-color: $verde1			
					li
						float: none	
				&:hover
					ul
						display: block		

								
.menu-fixed
	position: fixed
	z-index: 1000
	top: 0
	min-width: 100%

.nav-login
	background-color: $verde1
	padding: 12px
	color: #fff