@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0; }

h1 {
  font-size: 18px; }

label {
  display: block; }

header nav {
  background-color: #80CBC4;
  padding: 1px;
  margin-bottom: 10px; }
  header nav ul {
    overflow: hidden; }
    header nav ul li {
      float: left;
      list-style: none;
      width: 140px; }
      header nav ul li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 14px;
        color: #fff; }
        header nav ul li a:hover {
          background: #009688; }
      header nav ul li ul {
        display: none;
        position: absolute;
        min-width: 140px;
        background-color: #80CBC4; }
        header nav ul li ul li {
          float: none; }
      header nav ul li:hover ul {
        display: block; }

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  min-width: 100%; }

.nav-login {
  background-color: #80CBC4;
  padding: 12px;
  color: #fff; }

.contenido {
  min-height: 500px;
  margin: 40px 10% 10px;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  background-color: #fff; }

.contenedor-inicio {
  min-height: 600px;
  margin-top: 40px;
  background-image: url("../img/serviciosInformaticos.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#submenu-registro, #submenu-servicio, #submenu-reserva, #submenu-informacion {
  display: none; }

.list-head {
  color: #fff;
  background-color: #00695C; }

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; }

.list div {
  flex-basis: 20%; }

.detail {
  display: flex; }
  .detail div {
    padding: 10px; }

.img {
  display: inline-block; }

.icon {
  height: 200px;
  width: 150px; }

.data {
  display: inline-block; }

.error {
  background-color: #F44336;
  padding: 10px;
  color: #fff; }

.success {
  background-color: #00E676;
  padding: 10px;
  color: #fff; }

.more-info {
  margin: 5px;
  padding: 5px;
  width: 250px;
  background-color: #00E676;
  color: #fff; }

.formulario, .form-login {
  padding: 50px 0; }
  .formulario fieldset, .form-login fieldset {
    width: 50%;
    margin: 0px auto;
    padding: 10px; }
    .formulario fieldset legend, .form-login fieldset legend {
      color: #2fa0a0; }
    .formulario fieldset div, .form-login fieldset div {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0; }
      .formulario fieldset div label, .form-login fieldset div label {
        flex-basis: 40%; }
      .formulario fieldset div input, .form-login fieldset div input {
        flex-basis: 40%; }
      .formulario fieldset div textarea, .form-login fieldset div textarea {
        flex-basis: 40%; }

.form-login fieldset {
  margin: 10px auto; }
  .form-login fieldset div label {
    color: #fff; }
  .form-login fieldset div input {
    color: #fff;
    background-color: rgba(50, 50, 50, 0.6); }

.submit {
  background-color: #80CBC4;
  color: #fff;
  padding: 5px; }

footer {
  background-color: #212121;
  color: #fff;
  height: 100px;
  font-size: 14px; }
  footer .copy {
    margin: 0 25%;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
