body{
	width: 100%;
}
.menu{
	display: flex ;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#submenu-registro, #submenu-servicio, #submenu-reserva,#submenu-informacion {

	display: none;

}

.servicio{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.servicio div{
	flex-basis: 15%;
}

.formulario div{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.formulario div label,.formulario div input {
	flex-basis: 40%;
}

.formulario fieldset {
	width: 50%;
	margin: 0 20%;
}

label {
	display: block;
}